#tile {
    margin: 0 auto;
}

.tile.is-child{
    background-color: #ffffff!important
}

#playstore {
    cursor: pointer;
}

#terry{
    padding: 20px;
    margin-bottom: 10px;
}

#navitems{
    text-decoration: none;
    color: #363636!important;
}

.footer {
    margin-top: 20%
}