.container{
    width: 40%;
    margin: 40px auto;     
}

.loginbtn{
   background: #3bd389!important;
   color: white;
}

.control{
    margin-bottom:25px
}

#honey{
    color: #3bd389;
}

#honey:hover{
    background-color: #363636;
    color: #f5f5f5;
}

.reset{
    /* padding: 3px; */
    /* border: 1px solid black; */
    color:black;
    /* text-align: center; */
    /* font-size: large; */
    /* font-weight: bold; */
}

 
.errorMsg{
    padding: 20px;
    border: 1px solid red;
    color: red;
    text-align: center;
    font-size: large;
}