.container{
    width: 40%;
    margin: 40px auto;     
}

.loginbtn{
   background: #3bd389!important;
   color: white;
}

.control{
    margin-bottom:25px
}

#honey{
    color: #3bd389;
}

#honey:hover{
    background-color: #363636;
    color: #f5f5f5;
}

#resetpwd{
    color: #3273dc;
    font-size: large; 
    float: right;
}

.reset{
    /* padding: 3px; */
    /* border: 1px solid black; */
    color:black;
    /* text-align: center; */
    /* font-size: large; */
    /* font-weight: bold; */
}

#loginerrMsg{
  padding: 20px!important;
  margin-bottom: 10px;  
 /* border: 1px solid red;  */
color: red;
text-align: center;  
font-size: large;
}

.errMsg{
    /* padding: 10px;   */
   /* border: 1px solid red;  */
  color: red;
  /* text-align: center;   */
  font-size: large;
  }
   
 
#successMsg{
    /* padding: 10px;  */
    /* margin-bottom: 15px; */
    /* border: 1px solid red;  */
    /* font-weight:bold ; */
    color: green;
    /* text-align: center;  */
    font-size: large;

}


#errorMsg{
    padding: 7px;  
    /* border: 1px solid red;  */
   color: red;
   text-align: center;  
   font-size: large;
}