.error{
    border: solid 1px red
}

.checkbox{
    margin-right: 5px!important;
    color: #363636!important;
}
#bluefish{
    margin-right: 10px!important;
}

a{
    text-decoration: none!important;
}

#rainbowfish{
    color: #3bd389;

}

#tile {
    margin: 0 auto;
}

.sticky	{
	position: sticky;
  	top: 30px;
}

#rainbowfish:hover{
    background-color: #363636;
    color: #f5f5f5;
}

#twofish{
    background-color: #3bd389!important;
    color: #f5f5f5;
}

#formTitle{
    color: #363636!important;
}

#twofish:hover{
    background-color: #363636!important;
    color: #f5f5f5!important;
}

.errMsg{
    padding: 7px;  
   /* border: 1px solid red;  */
  color: red;
  /* text-align: center;   */
  font-size: large;
  }
  #errorMsg{
    padding: 20px;
    margin-bottom: 10px;
    /* border: 1px solid red;  */
   color: red;
   text-align: center;  
   font-size: large;
  }