#fluffyduck{
    color: #3bd389;
    border-color: white;
    background-color: #f5f5f5;
    position: relative;
    margin: 0 auto;
    height: 50px;
}

#fluffyduck:hover{
    background-color: #363636;
    color: #f5f5f5;
}