.footer {
    background-color: #3bd389;
    padding: 1.5rem!important;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 0px;
    
}

/* .footer{
    background: #3bd389;
    padding: 20px;
    border-top: 8px solid #666666;
    text-align: center;
    flex-shrink: 0;
    margin-top: 0px;
    position: absolute;
    width: 100%;
    color: #ffffff;
} */