#friend_search{
    background-color: #3bd389;
    margin: 50px 115px 0px 115px;
    border-radius: 10px;
}

#blue{
    margin: 0;
    position: relative;
}

#newFreind{
    margin-right: 20px;
}

.deposit{
    width: 45%!important;
    margin-bottom: 20px;
    color: #3bd389!important;
}

.deposit:hover{
    background-color: #363636!important;
    color: #f5f5f5!important;
}

#friend{
    margin-right: 20px;

}

#sendMoney {
    width: 45%!important;
}