.banana{
    margin: 0 auto;
}
#tile1{
    margin: 0px 64.703px 24px 64.703px
}

#tile2{
    margin: 0px 64.703px 24px 64.703px
}

#foundme{
    width: 30%!important;
    color: #3bd389;
}

#foundme:hover{
    background-color: #363636!important;
    color: #f5f5f5;
}