#opening-nav{
    background-color: #3bd389;
    height: 80px;
}

#text-theme{
    color: #3bd389;
}

#text-theme:hover{
    background-color: #363636;
    color: #f5f5f5;
}

#alert{
    margin-right: 25px!important;
}
